/* local variables */
@filter-title-bg: #7a7654;
@divider-bg: #8fbeb1;
@divider-fg: #fff;
@footer-bg: #2C9F7A;
@header-bg: #2C9F7A;
@explore-fg: #2C9F7A;
@chart-description-fg: #515151;

@cover-image-break-width-gt: 768px;
@cover-image-break-width-lt: 767px;

@chart-text-break-width-gt: 990px;
@chart-text-break-width-lt: 989px;

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;

/* ----------------------*/

body {
    padding-top: 60px;
}

/********************
 *
 * HEADER AREA
 *
 ********************/

header {
    position: relative;
}

header > nav > div {
    &:extend(.col-sm-12);
}

header.ata-header {
    margin-top: -60px;
}

nav.ata-header {
    background-color: @header-bg;
}

.col-xs-12.full-width {
    padding:0;
}

.top-image {
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @media only screen and (min-width: @cover-image-break-width-gt) {
        background-image: url("/static/images/asset-Desktop-Cover-Photo-fs8.png");
    }
    @media only screen and (max-width: @cover-image-break-width-lt) {
        background-image: url("/static/images/asset-mobile-cover-photo-fs8.png");
    }
}

.top-image-inner {
    display: block;
    height: 0;
    @media only screen and (min-width: @cover-image-break-width-gt) {
        padding-top: 37.5%;
    }
    @media only screen and (max-width: @cover-image-break-width-lt) {
        padding-top: 75%;
    }
}

.title-container {
    padding-top: 0;
    padding-left: 0;
    font-size: 14px;
    line-height: normal;
    position: absolute;
    top: 0;
}

.title-text {
    color: rgba(255,255,255,0.84);
}

.title-text-1 {
    @media only screen and (min-width: @cover-image-break-width-gt) {
        margin-top: 7em;
        margin-left: 4em;
        font-size: 2em;
    }
    @media only screen and (max-width: @cover-image-break-width-lt) {
        margin-top: 5em;
        margin-left: 1em;
        font-size: 1.2em;
    }
    font-weight: 500;
    font-family: @font-family-serif;
}

.title-text-2 {
    @media only screen and (min-width: @cover-image-break-width-gt) {
        margin-top: 0.5em;
        margin-left: 2em;
        font-size: 4em;
    }
    @media only screen and (max-width: @cover-image-break-width-lt) {
        margin-top: 0.6em;
        margin-left: 0.6em;
        font-size: 2em;
    }
    font-weight: bold;
    font-family: @font-family-sans-serif;
}

.logo {
    margin-bottom: 1em;
}

.user_access {
    position: absolute;
    top: 0;
    right: 15px;
}

.user_access .user_login_link {
    display: block;
    text-align: right;
}

.page_intro > div {
    border: 5px solid #ddd;
    padding: 1em;
}

.page_features > div {
    border: 5px solid #eee;
    border-radius: 10px;
    padding: 1em;
}

.ata-header.affix-top {
    background-color: transparent;
    position: absolute;
    overflow: hidden;
}

.ata-header.affix {
}

.navbar-text > a {
    color: #bbdefb;
}

.navbar-text > a:hover {
    color: #ffb74d;
}

.navbar-header > .navbar-toggle {
    float: left;
}

.nav.internal-links {
    text-transform: uppercase;
    @media only screen and (max-width: @cover-image-break-width-lt) {
        background-color: @header-bg;
    }
}

.ata-header > .container-fluid {
    @media only screen and (max-width: @cover-image-break-width-lt) {
        padding-right: 0;
    }
}

.main-navbar-filter-button {
    float: right;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.84);
    @media only screen and (min-width: @cover-image-break-width-gt) {
        margin-right: 30px;
    }
    @media only screen and (max-width: @cover-image-break-width-lt) {
        margin-right: 10px;
    }
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 25px;
    color: rgba(255, 255, 255, 0.84);
    text-transform: uppercase;
    line-height: 1.42857;
}

.main-navbar-filter-button > .glyphicon {
    color: rgba(255, 255, 255, 0.84);
}

/*******************
 *
 * SECTIONS
 *
 *******************/

.latest > section > div {
    background: #eee;
    padding: 1em;
}

.divider {
    background-color: @divider-bg;
    padding: 1em;
}

.filter-title {
    background-color: @filter-title-bg;
    padding: 1.5em;
}

.filter-title > h2,
.divider > h2 {
    color: @divider-fg;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

/*******************
 *
 * CHARTS
 *
 *******************/

.chart-placeholder {
    background-color: white;
    max-width: 600px;
    width: 100%;
    height: 600px;
    display: table;
}

.chart-placeholder > h2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: @font-family-serif;
    color: gray;
    padding: 30%;
}

.chart-section {
    @media only screen and (min-width: @chart-text-break-width-gt) {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

.chart-section > .chart-container {
    padding-left: 0;
    padding-right: 0;
}

.chart-meta {
    @media only screen and (min-width: @chart-text-break-width-gt) {
        height: 600px;
        display: table;
        overflow: hidden;
    }
}

.chart-right > iframe {
    float: right;
}

.chart-title-container {
    @media only screen and (min-width: @chart-text-break-width-gt) {
        display: table-row;
        height: 200px;
    }
}
.chart-title {
    @media only screen and (min-width: @chart-text-break-width-gt) {
        margin-top: 2em;
    }
    @media only screen and (max-width: @chart-text-break-width-lt) {
        margin-top: 0.4em;
    }
    font-family: @font-family-serif;
}

.chart-description-container {
    @media only screen and (min-width: @chart-text-break-width-gt) {
        display: table-row;
        height: 200px;
    }
}
.chart-description {
    @media only screen and (min-width: @chart-text-break-width-gt) {
        display: table-cell;
        vertical-align: middle;
    }
    @media only screen and (max-width: @chart-text-break-width-lt) {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    font-size: 1.2em;
    font-family: @font-family-serif;
    color: @chart-description-fg;
}

.explore-button-container {
    @media only screen and (min-width: @chart-text-break-width-gt) {
        display: table-row;
        height: 200px;
        vertical-align: middle;
    }
    @media only screen and (max-width: @chart-text-break-width-lt) {
        margin-bottom: 3em;
    }
}
.explore-button {
    border: solid 1px @explore-fg;
    color: @explore-fg;
    @media only screen and (min-width: @chart-text-break-width-gt) {
        position: absolute;
        bottom: 80px;
    }
}

.btn.btn-default.explore-button:hover {
    border: solid 1px @explore-fg;
    background-color: @explore-fg;
    color: white;
    box-shadow: none;
}

.dropdown:hover > .dropdown-menu {
    display: inherit;
}

/********************
 *
 * FOOTER AREA
 *
 ********************/

footer {
    margin-top: 1em;
}

footer.ata-footer {
    padding-left: 0;
    padding-right: 0;
}

.ata-footer > div > .footer_nav.navbar {
    margin-bottom: 0;
    background-color: @footer-bg;
}

.footer_left.navbar-text {
    margin-left: 8.33333%;
    margin-right: 8.33333%;
}
.footer_left.navbar-text > a {
    font-weight: bold;
    color: white;
}
.footer_left.navbar-text > a:hover {
    font-weight: bold;
    text-decoration: none;
}

.footer_right .plugin_link:after {
	content: " | ";
}

.footer_left > .plugin_link {
	padding-right: 0.75em;
}

.footer_site > nav {
	padding-right: 15px;
}
