<a
	class="{{ chart.html_class }}"
	data-width="{{ chart.width }}"
	data-height="{{ chart.height }}"
	data-enable-filtering="{{ chart.enable_filtering }}"
	data-dataset="{{ chart.dataset }}"
	data-variables="{{ chart.variables }}"
	data-indicators="{{ chart.indicators }}"
	data-operation="{{ chart.operation }}"
	data-chart-type="{{ chart.chart_type }}"
	data-colors="{{ chart.colors }}"
	data-show-dataset="{{ chart.show_dataset }}"
	href="//{{ chart.domain }}/chart/embed" target="_blank">
	{{ chart.text }}
	</a>
