<a
	class="{{ chart.html_class }}"
	data-width="{{ chart.width }}"
	data-height="{{ chart.height }}"
	data-background="{{ chart.background }}"
	data-colors="{{ chart.colors }}"
	data-enable-filtering="{{ chart.enable_filtering }}"
	data-enable-interaction="{{ chart.enable_interaction }}"
	data-dataset="{{ chart.dataset }}"
	data-variables="{{ chart.variables_comma }}"
	data-indicators="{{ chart.indicators }}"
	data-operation="{{ chart.operation }}"
	data-chart-type="{{ chart.chart_type }}"
	data-show-dataset="{{ chart.show_dataset }}"
	data-data-labels="{{ chart.data_labels }}"
	data-grid-lines="{{ chart.grid_lines }}"
	data-precision="{{ chart.precision }}"
	data-legend="{{ chart.legend }}"
	{% if chart.filters %}data-filters="{{ chart.filters }}"{% endif %}
	href="//{{ chart.domain }}/chart/embed" target="_blank">
	{{ chart.text }}
	</a>
