<a
	class="{{ chart.html_class }}"
	data-width="{{ chart.width }}"
	data-height="{{ chart.height }}"
	data-background="{{ chart.background }}"
	data-colors="{{ chart.colors_comma }}"
	data-enable-filtering="{{ chart.enable_filtering }}"
	data-enable-interaction="{{ chart.enable_interaction }}"
	data-dataset="{{ chart.dataset }}"
	data-variables="{{ chart.variables_comma }}"
	data-indicators="{{ chart.indicators_comma }}"
	data-operation="{{ chart.operation }}"
	{% if chart.secondary_operation %}data-secondary-operation="{{ chart.secondary_operation }}"{% endif %}
	{% if chart.category_order %}data-category-order="{{ chart.category_order }}"{% endif %}
	data-chart-type="{{ chart.chart_type }}"
	data-show-dataset="{{ chart.show_dataset }}"
	data-show-title="{{ chart.show_title }}"
	data-data-labels="{{ chart.data_labels }}"
	data-grid-lines="{{ chart.grid_lines }}"
	data-precision="{{ chart.precision }}"
	data-legend="{{ chart.legend }}"
	{% if chart.filters %}data-filters="{{ chart.filters_for_embed_link }}"{% endif %}
	href="//{{ chart.domain }}/chart/embed" target="_blank">
	{{ chart.title }}
	</a>
