<a
	class="btn btn-default explore-button"
	href="http://ata.livestories.com/guest/chart?datasetId={{ chart.dataset_id }}&dashId=&dashboard=&chartType={{ chart.chart_type }}&operation={{ chart.operation }}&{{ chart.variables_url_args }}&indicators=Value"
	>Explore</a>

<!-- 
	href="http://ata.livestories.com/guest/chart?datasetId={{ chart.dataset_id }}&dashId=&dashboard=&chartType={{ chart.chart_type }}&operation={{ chart.operation }}&variables={{ chart.variables }}&variables=year&indicators=Value"


	href="http://ata.livestories.com/guest/chart?datasetId=54aff583a750b33915f0069c&dashId=&dashboard=&chartType=column&operation=avg&variables=Commodity&variables=year&indicators=Value"


<a 
	class="btn btn-default explore-button" 
	href="http://ata.livestories.com/guest/chart?datasetId=54b909c7a750b30f24f31db7&dashId=&dashboard=&chartType=column&operation=avg&variables=Technology&variables=year&indicators=Value"
	>Explore</a>
	-->
