<div class="row chart-section">
    <div class="chart-container {% if chart_wide %}col-md-7{% else %}col-md-6{% endif %} {% if description_left %}{% if chart_wide %}col-md-push-4{% else %}col-md-push-5{% endif %} chart-right{% else %}chart-left col-md-offset-1{% endif %}">
		{% include "lscharts/embedded_chart.html" %}
	</div>

    <div class="chart-meta {% if chart_wide %}col-md-3{% else %}col-md-4{% endif %} {% if description_left %}{% if chart_wide %}col-md-pull-6{% else %}col-md-pull-5{% endif %}{% endif %}">
		<div class="chart-title-container">
			<h2 class="chart-title">{{ chart.title }}</h2>
		</div>
		<div class="chart-description-container">
			<p class="chart-description">{{ chart.description|safe }}</p>
		</div>
		<div class="explore-button-container">
			<a class="btn btn-default explore-button" href="{{ chart.explore_url }}" target="_blank">Explore</a>
		</div>
	</div>
</div>
