{% extends 'base.html' %}

{% block header_nav_brand %}
<a class="navbar-brand" href="#">ATA Dashboard</a>
{% endblock %}

{% block header_nav_extra %}
<button type="button" class="main-navbar-filter-button" data-toggle="modal" data-target="#main-modal-filter">
	Filter
</button>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-xs-12 full-width">
		<div class="image-container">
			<div class="top-image" role="img" aria-label="green area with rice bowl">
				<div class="top-image-inner">
					<div class="title-container">
						<h1 class="title-text title-text-1">Agricultural Transformation Agenda</h1>
						<h1 class="title-text title-text-2">PROGRESS<br />DASHBOARD</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% if filter_title %}
<div class="row">
	<div class="col-xs-12 filter-title">
		<h2 id="main-filter-title">{{ filter_title }}</h2>
	</div>
</div>
{% endif %}

<div class="print-page-break"></div>

<div class="row">
    <div class="col-xs-12 divider">
        <h2 id="main-productivity">Productivity</h2>
    </div>
</div>
{% include "main/chart_section.html" with chart=charts.productivity_pre_ata chart_wide="true" %}

<div class="print-page-break"></div>

{% include "main/chart_section.html" with chart=charts.productivity_during_ata chart_wide="true" description_left="true" %}

<div class="print-page-break"></div>

{% include "main/chart_section.html" with chart=charts.productivity_market_price %}

<div class="print-page-break"></div>

<div class="row">
    <div class="col-xs-12 divider">
        <h2 id="main-income">Income</h2>
    </div>
</div>
{% include "main/two_chart_meta_side_section.html" with chart1=charts.percent_sales_donut_2012 chart2=charts.percent_sales_donut_2010 %}

<div class="print-page-break"></div>

{% include "main/chart_section.html" with chart=charts.average_household_sales %}

<div class="print-page-break"></div>

<div class="row">
    <div class="col-xs-12 divider">
        <h2 id="main-technology">Technology Adoption</h2>
    </div>
</div>
{% include "main/chart_section.html" with chart=charts.technology %}

<div class="print-page-break"></div>

<div class="row">
    <div class="col-xs-12 divider">
        <h2 id="main-nutrition">Nutrition</h2>
    </div>
</div>
{% include "main/chart_section.html" with chart=charts.nutrition %}

{% comment %}
<div class="row">
    <div class="col-xs-12 divider">
        <h2 id="main-sales" style="color: grey">Sales</h2>
    </div>
</div>
{% endcomment %}
{% endblock %}

{% block modals %}
<div class="modal fade" id="main-modal-filter" tabindex="-1" role="dialog" aria-labelledby="main-modal-filter" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body filter-modal-body">
				<div class="filter-section">
					<div class="filter-subsection value-chain-filters">
						<div class="btn btn-default filter-button {% if current_filter == 'cassava' %}selected-filter{% endif %}">
							<a href="{% url "valuechain_filter" "cassava" %}">Cassava</a>
						</div>
						<div class="btn btn-default filter-button {% if current_filter == 'rice' %}selected-filter{% endif %}">
							<a href="{% url "valuechain_filter" "rice" %}">Rice</a>
						</div>
					</div>
					<div class="filter-subsection state-filters">
						<div type="button" class="btn btn-default filter-button {% if current_filter == 'benue' %}selected-filter{% endif %}">
							<a href="{% url "state_filter" "benue" %}">Benue</a>
						</div>
						<div type="button" class="btn btn-default filter-button {% if current_filter == 'kogi' %}selected-filter{% endif %}">
							<a href="{% url "state_filter" "kogi" %}">Kogi</a>
						</div>
					</div>
				</div>
				<div class="filter-section">
					<div class="filter-subsection no-filters">
						<div type="button" class="btn btn-default filter-button {% if current_filter == 'all' %}selected-filter{% endif %}">
							<a href="{% url "home" %}">See All</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js_footer %}
{{ block.super }}
<script src="//ata.livestories.com/static/js/embed-api.js"></script>
{% endblock %}
