{% extends 'base.html' %}

{% block header_nav_brand %}
<a class="navbar-brand" href="#">ATA Dashboard</a>
{% endblock %}

{% block header_nav_extra %}
<button type="button" class="main-navbar-filter-button" data-toggle="modal" data-target="#main-modal-filter">
	Filter
</button>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-xs-12 full-width">
		<div class="image-container">
			<div class="top-image" role="img" aria-label="green area with rice bowl">
				<div class="top-image-inner">
					<div class="title-container">
						<h1 class="title-text title-text-1">Agricultural Transformation Agenda</h1>
						<h1 class="title-text title-text-2">PROGRESS<br />DASHBOARD</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% if filter_title %}
<div class="row">
	<div class="col-xs-12 filter-title">
		<h2 id="main-filter-title">{{ filter_title }}</h2>
	</div>
</div>
{% endif %}

<div class="row">
    <div class="col-xs-12 divider">
        <h2 id="main-nutrition">Nutrition</h2>
    </div>
</div>
{% include "main/chart_section.html" with chart=charts.nutrition %}

<div class="row">
    <div class="col-xs-12 divider">
        <h2 id="main-technology">Technology Adoption</h2>
    </div>
</div>
{% include "main/chart_section.html" with chart=charts.technology %}

{% comment %}
<div class="row">
    <div class="col-xs-12 divider">
        <h2 id="main-sales" style="color: grey">Sales</h2>
    </div>
</div>
{% endcomment %}

<div class="row">
    <div class="col-xs-12 divider">
        <h2 id="main-productivity">Productivity</h2>
    </div>
</div>
{% include "main/chart_section.html" with chart=charts.productivity_post_ata chart_wide="true" %}
{% include "main/chart_section.html" with chart=charts.productivity_pre_ata description_left="true" chart_wide="true" %}
{% endblock %}

{% block modals %}
<div class="modal fade" id="main-modal-filter" tabindex="-1" role="dialog" aria-labelledby="main-modal-filter" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Filters</h4>
			</div>
			<div class="modal-body">
				<ul>
					<li><a href="{% url "home" %}">No Filters</a></li>
					<li><a href="{% url "valuechain_filter" "cassava" %}">Cassava</a></li>
					<li><a href="{% url "valuechain_filter" "rice" %}">Rice</a></li>
					<li><a href="{% url "state_filter" "benue" %}">Benue</a></li>
					<li><a href="{% url "state_filter" "kogi" %}">Kogi</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js_footer %}
{{ block.super }}
<script src="//ata.livestories.com/static/js/embed-api.js"></script>
{% endblock %}
