{% extends 'base.html' %}

{% block header_nav_extra %}
<button type="button" class="main-navbar-filter-button" data-toggle="modal" data-target="#main-modal-filter">
	<span class="glyphicon glyphicon-filter"></span>
</button>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12 divider">
        <h2 id="main-nutrition">Nutrition</h2>
    </div>
</div>
{% include "main/chart_section.html" with chart=charts.nutrition %}

<div class="row">
    <div class="col-xs-12 divider">
        <h2 id="main-technology">Technology Adoption</h2>
    </div>
</div>
{% include "main/chart_section.html" with chart=charts.technology %}

{% comment %}
<div class="row">
    <div class="col-xs-12 divider">
        <h2 id="main-sales" style="color: grey">Sales</h2>
    </div>
</div>
{% endcomment %}

<div class="row">
    <div class="col-xs-12 divider">
        <h2 id="main-productivity">Productivity</h2>
    </div>
</div>
{% if valuechain != 'cassava' %}
{% include "main/chart_section.html" with chart=charts.productivity %}
{% else %}
<div class="row">
	<div class="col-md-6 col-md-offset-1">
		There is no data for cassava productivity, so we cannot show a chart.
	</div>
	<div class="col-md-4">
		<p>{{ chart.description }}</p>
	</div>
</div>
{% endif %}
{% endblock %}

{% block modals %}
<div class="modal fade" id="main-modal-filter" tabindex="-1" role="dialog" aria-labelledby="filter modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Filters</h4>
			</div>
			<div class="modal-body">
				<ul>
					<li><a href="{% url "home" %}">No Filters</a></li>
					<li><a href="{% url "valuechain_filter" "cassava" %}">Cassava</a></li>
					<li><a href="{% url "valuechain_filter" "rice" %}">Rice</a></li>
					<li><a href="{% url "state_filter" "benue" %}">Benue</a></li>
					<li><a href="{% url "state_filter" "kogi" %}">Kogi</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js_footer %}
{{ block.super }}
<script src="//ata.livestories.com/static/js/embed-api.js"></script>
{% endblock %}
