{% load assets %}
<!doctype html>

<html>
<head>
	<meta charset="utf-8">

	<title>atanigeriatool</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="atanigeriatool - M&E tool for ATA Nigeria with LiveStories backend">
	<meta name="author" content="Hamish Downer">
	{% block media %}
		{% block standard_css %}
			{% assets "main.common_css" %}
					<link rel="stylesheet" href="{{ ASSET_URL }}" />
			{% endassets %}
		{% endblock standard_css %}

		{% block form_media %}
			{% if form %}
				{{ form.media }}
			{% endif %}
		{% endblock form_media %}
	{% endblock media %}
</head>

<body>

	{% block header %}
		<header class="{% block header_classes %}ata-header container-fluid{% endblock %}" role="banner">
			{% block logo %}
			{% comment %}
				<div class="logo">
					<div class="row">
						<div class="col-sm-6">
							<img src="{{ STATIC_URL }}images/bootstrap-solid.svg"
								style="height: 60px; float: left; margin-right: 1em; vertical-align: baseline;" />
							<h1 style="font-size: 40px; margin: 12px 0 8px; line-height: 1; color: #563d7c;">bootstrap</h1>
						</div>
					</div>

				</div>
			{% endcomment %}
			{% endblock %}

			{% block user_access %}
			<nav class="user_access">
				<a href="#maincontent" class="hide">Skip to content</a>
			</nav>
			{% endblock user_access %}

			{% block search_box %}
			{% comment %}
			<form class="navbar-search" action="{% page_url "search" %}">
				<input type="text" name="q" id="id_q" value="{{ request.GET.q }}" class="search-query" placeholder="Search" />
				<input type="submit" class="btn" value="Search" />
			</form>
			{% endcomment %}
			{% endblock search_box %}

			{% block header_nav %}
			<nav class="{% block header_nav_classes %}ata-header navbar navbar-fixed-top{% endblock %}" data-spy="affix" data-offset-top="60" role="navigation">
				<div class="container-fluid">
					{% block header_nav_extra %}{% endblock %}
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						{% block header_nav_brand %}{% endblock %}
					</div><!-- navbar-header -->

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="main-navbar-collapse-1">
						<ul class="{% block header_nav_ul_classes %}nav navbar-nav navbar-right internal-links{% endblock %}">
							{% block header_nav_menu %}
								<li><a href="#main-nutrition">Nutrition</a></li>
								<li><a href="#main-technology">Technology Adoption</a></li>
								<li><a href="#main-productivity">Productivity</a></li>
								{% comment %}<li class="disabled"><a href="#main-sales">Sales</a></li>{% endcomment %}
								<!-- <li class="disabled"><a href="#">About</a></li> -->
							{% endblock header_nav_menu %}
						</ul>
					</div><!-- navbar-collapse -->
				</div><!-- container-fluid -->
			</nav><!-- header_nav -->
			{% endblock header_nav %}

		</header>
	{% endblock header %}

	{% block main %}
	<main class="{% block main_classes %}container-fluid{% endblock %}" role="main">
		<a id="maincontent"></a>

		{% block article %}
		<article class="main_article">
			{% block content %}{% endblock %}
		</article>
		{% endblock %}
	</main>
	{% endblock main %}

	{% block footer %}
		<footer class="{% block footer_classes %}ata-footer container-fluid{% endblock %}" role="contentinfo">
			<div class="footer_nav_wrapper">
				<nav class="{% block footer_nav_classes %}footer_nav navbar navbar-default{% endblock %}" role="navigation">
					<div class="footer_left navbar-left navbar-text">
						{% block footer_left %}
						This is a knowledge and data management prototype tool to help the
						<a href="http://www.fmard.gov.ng/">Federal Ministry of Agriculture and Rural Development Nigeria</a>
						keep accurate track of the performance of its Agricultural Transformation Agenda. This project
						is made in collaboration with
						<a href="http://www.firetail.co.uk/">Firetail</a>,
						<a href="http://www.livestories.com/">LivesStories</a> and
						<a href="http://www.aptivate.org/">Aptivate</a>,
						on behalf of the 
						<a href="http://www.gatesfoundation.org/">Bill and Melinda Gates Foundation</a>
						and at the request of the Honourable Minister of Agriculture.
						{% endblock %}
					</div>
					{% comment %}
					<div class="footer_right navbar-right navbar-text">
						{% block footer_right %}{% endblock %}
						{% block credits %}
						Site by <a href="http://www.aptivate.org">Aptivate</a>
						{% endblock %}
					</div>
					{% endcomment %}
				</nav>
			</div><!-- footer_nav_wrapper -->
		</footer>
	{% endblock footer %}

	{% block modals %}
	{% endblock modals %}

	{% block js_footer %}
		{% assets "main.common_js" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}
	{% endblock js_footer %}
</body>
</html>
